@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

body{
    margin: 0 auto;
}

header{
    max-width: 1920px;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 95px 8px 38px;
    font-size: 28px;
    @media(max-width: 1100px){
        flex-direction: column;
        gap: 30px;
    }
    div{
        display: flex;
        align-items: center;
        gap: 10px;
        @media(max-width: 500px){
            flex-direction: column;
        }
        h1{
            font-size: 28px;
            font-weight: 400;
        }
    }
    ul{
        list-style: none;
        display: flex;
        gap: 80px;
        @media(max-width: 700px){
            flex-direction: column;
            margin-top: 40px;
            gap: 20px;
        }
    }
}

main{
    max-width: 1920px;
    .content-1{
        background-color: #FFD9EC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 122px 11px 56px;
        @media(max-width: 800px){
            flex-direction: column;
            padding: 11px 20px;
        }
        p{
            max-width: 587px;
            min-height: 265px;
            font-size: 25px;
            line-height: 34.05px;
            color: #000;
        }
        img{
            @media(max-width: 600px){
                width: 100%;
            }
        }
    }

    .content-2{
        background-color: #FF69B4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 29px 14px 56px;
        @media(max-width: 1170px){
            flex-direction: column;
            gap: 30px;
            padding: 11px 20px;
        }
        
        img{
            @media(max-width: 700px){
                width: 90%;
            }
        }

        p{
            max-width: 648px;
            min-height: 174px;
            font-size: 25px;
            font-weight: 400;
            line-height: 34.05px;
        }
    }

    .gallery{
        background-color: #FFD9EC;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 88px 0;
        flex-wrap: wrap;
    }
}

footer{
    max-width: 1920px;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 45px 14px 55px;
    font-size: 20px;
    line-height: 27.24px;
    text-align: center;
    flex-wrap: wrap;
    @media(max-width: 950px){
        flex-direction: column;
        gap: 30px;
    }
}